#ignore c++ binaries
*.o
*.so

#ignore generated tetra cmake files
tetra/CMake*
tetra/Makefile
tetra/cmake_install.cmake
tetra/tetra

#ignore output directory
output/

#ignore configuration files
*.xml